.setting__setting {
  padding: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__setting i {
  opacity: 0.7;
  margin-right: 20px;
  font-size: 22px;
}
.setting__setting-column:last-child {
  opacity: 0.5;
}
