.screen-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  margin-top: 26px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 800px;
}

.screen-header__icons span {
  margin-left: 25px;
}
